/* ALBUM COVER */
.albumCover {
    max-width: 22rem !important;
}

/* INFO */
.albumInfo {
    font-size: 17px;
}

/* TRACKLIST */

.trackListImg {
    width: 600px;
}

/* MEDIA QUERY */
@media (max-width: 1167px) {
    .tracklistAndImg {
        justify-content: center !important;
    }
    .trackListImg {
        width: 85%;
    }
}

@media (min-width: 1167px) {
    .trackListImg {
        margin-right: 8% !important;
    }
}